<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=l.0">
    <link rel="stylesheet" type = "text/css" href="../static/css/test.css" >


<title> Glass Morphism Login Form With Hover Effect</title>

</head>

<body>
    {%with messages = get_flashed_messages()%} {%if messages%} {% for message
        in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
          {{message}}

          <button 
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {%endfor%} {%endif%} {%endwith%}
<div class="form-container">

    <form action= "{{ url_for('login') }}" method="POST" id="form">
        <h3>Login</h3>
        <i class="fas fa-user"></i>
        <input type="text" name="user" id="user" value='' placeholder="username" required />

        <i class="fas fa-lock"></i>
        <input type="password" name="pswd" id="pswd" placeholder="password" required />
        <input type="submit" value="Login">
        <!--  --><br><br>
        <a href="/register" style="color: aliceblue; align-items: end;">Register?</a>
    </form>
</div>


<script>

var form = document.getElementById('form');
var oldx = window.innerWidth
var oldy = window.innerHeight
form.addEventListener('mousemove',(e)=>{
    var x = (window.innerWidth/2 - e.pageX)/12;
    var y = (window.innerHeight/2 - e.pageY)/12 ;
    form.style.transform = 'rotateX(' + x + 'deg) rotateY(' + y + 'deg)'
});
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>